.calculator {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 420px;
  background-color: var(--bg-color);
  border-radius: 15px;
  overflow: hidden;
}

.toggle-theme {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255,255,255,0.1);
  border: 1px solid var(--accent-color);
  transition: 0.3s;
}

.toggle-theme:hover {
  box-shadow: 0 0 10px orange;
  transform: scale(1.1);
}

.toggle-theme:active {
  transform: scale(0.9);
}

.toggle-theme:focus {
  outline: none;
}

.toggle-theme:focus-visible {
  border: 1px solid rgb(166, 109, 3);
}

.display {
  max-width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  padding: 10px;
  border: 1px solid #222;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.display-text {
  width: 100%;
  text-align: right;
  font-size: 32px;
  color: var(--text-color);
  overflow-x: scroll;
  text-wrap: nowrap;
}

.prev-display-text {
  font-size: 16px;
  color: var(--accent-color);
}

.display-text::-webkit-scrollbar {
  height: 3px;
}

.display-text::-webkit-scrollbar-track {
  background: var(--bg-color);
}

.display-text::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1px;
  flex-grow: 1;
  background-color: var(--bg-color);
}

.button {
  font-size: 20px;
  color: #f0f0f0;
  background-color: grey;
  border: none;
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.2s;
}

.button:hover {
  background-color: #888;
}

.button:active {
  background-color: #666;
  transform: scale(0.97);
}

.button:focus-visible {
  border: 1px solid rgb(166, 109, 3);
}

.button:focus {
  outline: none;
}

.orange {
  background-color: orange;
}

.orange:hover {
  background-color: rgb(166, 109, 3);
}

.dark-grey {
  background-color: #555;
}

.zero {
  grid-column: span 2;
}
